.navbar{
  list-style: none;
  margin: 0;
  padding: 0;
/*el contenidoo es recortado y nos muestra barras de posicion*/
  overflow: hidden;
  background-color: #333;
}

.navbar li{
  float: left;
}

.navbar li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px ;
  /*quita el subrayado de los enlaces*/
  text-decoration: none ;
}

.navbar li a:hover{
  background-color: #111;
}

